<% form_for :dump, :url=>{:controller=>"imports",:action=>"csv_import"},:html => { :multipart => true } do |f| %>
 <table>
   <tr>
     <td>
      <label for="dump_file">
        Select a CSV File :
      </label>
     </td>
     <td >
       <%= f.file_field :file %>
     </td>
   </tr>
   <tr>
     <td colspan='2'>
       <%= submit_tag 'Submit' %>
     </td>
   </tr>
 </table>
<% end %>

<form id="csv_import" class="csv_import" method="post" action="/imports/csv_import" accept-charset="UTF-8">
 <table>
   <tr>
     <td>
      <label for="dump_file">
        Select a CSV File :
      </label>
     </td>
     <td >
     	<input type="file" name="file" />
     </td>
   </tr>
   <tr>
     <td colspan='2'>
       <%= submit_tag 'Submit' %>
     </td>
   </tr>
 </table>
</form>
